@model IEnumerable<TheTower.Models.Session>
@{
    //ViewData["Title"] = "Home Page";
}

<div class="row jumbotron">
    <div class="col-md-6">
        <a class="btn btn-default" asp-controller="Sessions" asp-action="Create">Create New Session</a>
        <!--
        <a class="btn btn-default" asp-controller="Sessions" asp-action="Index">Load Old Session</a>
        -->
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DMName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlayerLevel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlayerQty)
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DMName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlayerLevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlayerQty)
                        </td>
                        <td>

                            <a class="btn btn-success" asp-controller="Sessions" asp-action="Details" asp-route-id="@item.ID">Select</a> |
                            <a class="btn btn-default" asp-controller="Sessions" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a class="btn btn-danger" asp-controller="Sessions" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="divRules">
    <div class="container" id="rulesContainer">
        <div class="row">
            <h2>Optional Rules for the Game</h2>
            <p>Note: Through playing this we have found some of these rules and setup options to work best. It is completely up to you how you want to change the game to your liking.</p>
            <div class="col-md-6">
                <h3>Setting of the Game</h3>
                <h5>Players are met by an extremely large and eerie tower.</h5>
                <h5>At the enterance there is an open door which leads directly into an elevator.</h5>
                <h5>This is Ground 0. When players reach this level they are able to change Characters.</h5>
                <h5>When ready (Click on "Create New Level" in the level view screen) the players will roll a number of Dies to determine the environment for the next level </h5>
                <h5>They will roll to find out what room they are on next, What biom the will be in, what event will pop up, the Challenge Rating and the Monters coming up</h5>
            </div>
            <div class="col-md-6">
                <h3>Rules of the Game</h3>
                <h5>Breathing unless class/race feature applied is only 1 minute. (6 Rounds).</h5>
                <h5>Party gets a S/Rest if they roll back into a room they have already cleared.</h5>
                <h5>Half Speed to stand up.</h5>
                <h5>Choose any non-magical Starting Item in PHB for starting equipment.</h5>
                <h5>The Elevator taked 10 mins to move between rooms.</h5>
                <h5>All Rooms, unless stated otherwise, are 120ft tall.</h5>
                <h5>No Legendary Items.</h5>
            </div>
        </div>
    </div>
</div>


